/* General Styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

body {
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
}

#about p {
    text-align: justify;
}

header {
    text-align: center;
    padding: 1rem;
    background: #333;
    color: #fff;
}

header nav a {
    margin: 0 10px;
    color: #fff;
    text-decoration: none;
}

header nav a:hover {
    color: #ffa500;
    text-decoration: underline;
}

/* Fade section*/
section:nth-child(odd) {
    background: linear-gradient(to right, #f4f4f4, #e8e8e8);
}

section:nth-child(even) {
    background: linear-gradient(to right, #e8e8e8, #f4f4f4);
}

section {
    padding: 2rem;
    max-width: 800px;
    margin: auto;
    margin-bottom: 1rem;
}

/* Scroll effect */
.animate {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.animate.visible {
    opacity: 1;
    transform: translateY(0);
}

h2 {
    margin-bottom: 1rem;
    color: #333;
}

ul {
    list-style-type: none;
}

/* Hover orange effect when mouseon */
.project a:hover {
    color: #ffa500;
    text-decoration: underline;
}

/* Hover effect on contact section */
#contact a:hover {
    color: #ffa500; /* Orange color */
    text-decoration: underline; /* Underline effect */
}

/* Hover effect on skills section */
#skills ul li {
    position: relative;
    padding-left: 10px;
    transition: color 0.3s ease;
}

#skills ul li:hover::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 5px;
    width: 100%;
    background: #ffa500;
    border-radius: 4px;
    z-index: -1;
    animation: progress 0.6s ease-in-out forwards;
}

@keyframes progress {
    from { width: 0; }
    to { width: 100%; }
}

footer {
    text-align: center;
    padding: 1rem;
    background: #333;
    color: #fff;
}

/* Orange efect on the menu when mouseon */
header nav a.active {
    font-weight: bold;
    color: #ffa500;
}

.profile-photo {
    width: 150px;
    height: 150px;
    border-radius: 50%; /* Makes the image circular */
    object-fit: cover;
    margin-bottom: 1rem;
}

.icon {
    width: 20px; 
    height: 20px;
    vertical-align: middle; 
    margin-right: 8px; 
}